@import "tailwindcss";
@theme {
  --font-primary: "Smooch Sans", sans-serif;
}

.transformAnimation {
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

::-webkit-scrollbar {
  display: none;
}

#cursor,
.windowMove {
  will-change: transform;
}

#projectPopupBox {
  display: none;
}
